.hero {
  color: white;
  width: 80%;
  margin: auto;
}

.header, .description {
  line-height: 1.25;
  max-width: 850px;
  margin: auto;
}

.header {
  padding: 50px 0 0;
  font-weight: 800;
  font-size: 3rem;
}

.description {
  padding: 25px 0 0;
  font-size: 1.5rem;
}

.btn {
  display: block;
  max-width: 600px;
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 12.5px 0;
  margin: 50px auto 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: orange;
}

.btn:hover {
  cursor: pointer;
}
