.page {
  width: 100%;
  padding: 75px 0 25px;
  background: url(../assets/images/home-hero.png);
}

.header, .paragraph {
  margin: 50px auto;
  color: var(--text-light);
}

.btn {
  margin: 50px auto;
}
