/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  /*Color Variables*/
  --base: #f4f0bb;
  --accent: #226f54;
  --accent2: #da2c38;
  --accent3: #43291f;
  --accent4: #87c38f;
  --light: #fff;
  --dark: #000;
  /* Sizes */
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--base);
  font-family: "Inter", sans-serif;
  font-size: clamp(1.3rem, 2vw, 1.6rem);
  line-height: 1.5;
}

.navbar-container {
  height: 75px;
  width: clamp(calc(100% - 40px), 97.5vw, calc(100% - 30px));
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  margin: auto 0;
}

.nav-li {
  display: inline-block;
  margin: 0 10px;
}

.page {
  width: clamp(calc(100% - 40px), 97.5vw, calc(100% - 30px));
  margin: auto;
  background-repeat: no-repeat;
}

.content-container {
  width: 90%;
  margin: auto;
}

.image {
  width: 100%;
  margin: auto;
}

.header {
  font-size: clamp(2rem, 5vw, 2.75rem);
  font-weight: 800;
}

.header, .paragraph {
  margin: 25px auto;
}

.link.btn {
  display: block;
  color: var(--light);
  background-color: var(--accent2);
  width: 100%;
  margin: 25px auto;
  max-width: 650px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  transition: all, 250ms;
  font-size: clamp(1.4rem, 2.5vw, 1.8rem);
  font-weight: 800;
}

.link.btn:hover {
  background-color: var(--accent);
}

.header, .nav-li, .link, .btn {
  color: var(--dark);
  text-decoration: none;
}
