.image {
  width: 100%;
  display: block;
  margin: 25px auto 0;
  border-radius: 5px;
}

.type {
  color: white;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 10px;
  background-color: red;
  border-radius: 5px;
  margin: 25px 0 0; 
}

.header {
  font-size: 2rem;
  font-weight: 800;
  margin: 10px 0 0;
}

.pricing {
  font-size: 1.8rem;
  font-weight: 800;
  margin: 10px 0;
  display: inline-block;
}

.description {
  font-size: 1.3rem;
  line-height: 1.3;
}
